In [3]:
import pandas as pd
# risk_df = pd.read_csv("../data/credit_risk_dataset.csv");
loan_df = pd.read_csv("../data/loan-test.csv")
# loan_df.info()
loan_df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

# Data Cleaning Approach
 - for any datasets, fill in missing values using mean / median / mode or KNN
 - the type of tail for the feature, then using the type, determine method of filling in missing values
 - look at the units, and ensure thet units are standardized according to US (currency is $, length can be ft and in)
 - just for extra check, look for unique values within features
 - for any boolean features --> true is 1 and false is 0
 - for any categorical features --> if less than 4 to 5 unique values, encode them